@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



.review{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px ;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    .review-body{
        width: 600px;
        font-size: 15px;
    }
}

.review-edit{
    background-color: whitesmoke;
    padding:100px;
    width: 100%;
    text-align: center;

    h1{
        font-size: 22px;
    }

    textarea{
        min-width: 391px;
        min-height: 150px;
        max-width: 391px;
        max-height: 300px;
    }

}